.count-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.count-container > svg {
  width: 8rem;
}

.count-container > .count-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: start;
  padding-left: 1rem;
}

.count-info > h3 {
  font-size: 300%;
}

.count-info > p {
  font-size: 1.3em;
  text-transform: uppercase;
  display: inline-block;
}
