.home {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #3aa2ff, #0044ff);
  position: relative;
  padding: 8rem;
  padding-top: 8rem;
}

.home-landing {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.home-landing > img {
  width: 55vw;
}
.home-landing > h1 {
  font-size: 4.5em;
}

.home > p {
  padding-top: 4rem;
  font-size: 2em;
  width: 80vw;
  padding-bottom: 8rem;
}

.counts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  margin: 1rem 5rem;
}

.home-container > .edge {
  position: absolute;
}

@media only screen and (max-width: 80rem) {
  .home {
    padding: 4rem;
    padding-top: 8rem;
  }
}
